input {
  width: 20%;
  text-align: center;
  margin: auto;

}

button {
  width: 60px;
  margin: auto;
  margin-top: 10px;
  border: 2px solid rgb(94, 93, 93);
  background-color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  border: 2px solid red;
  transition: 0.3s all ease-in;
  color: red;
}

.container {
  text-align: center;
}

.pokemon-container {
  border: 2px solid black;
  border-radius: 20px;
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.pokemon-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: auto;
}

.invisible {
  display: none;
}